<div class="container">
  <h2 class="myclass">{{title}}</h2>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-day">Day</span>
      <input type="text" class="form-control" aria-label="small" aria-describedby="inputGroup-sizing-sm"
             [(ngModel)]='day'>
    </div>
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-month">Month</span>
      <input type="text" class="form-control" aria-label="small" aria-describedby="inputGroup-sizing-sm"
             [(ngModel)]='month'>
    </div>
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-year">Year</span>
      <input type="text" class="form-control" aria-label="small" aria-describedby="inputGroup-sizing-sm"
             [(ngModel)]='year'>
    </div>
    <button type="button" class="btn btn-dark" (click)="addTask()">Пуск</button>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
      <th></th>
      <th></th>
      <th></th>
      <th>Темперамент: {{three.length + five.length + seven.length}}</th>

      </thead>
      <tbody>
      <tr>
        <td>
          {{one}}
        </td>
        <td>{{four}}</td>
        <td>{{seven}}</td>
        <th>Цель: {{one.length + four.length + seven.length }}</th>
      </tr>
      <tr>
        <td>{{two}}</td>
        <td>{{five}}</td>
        <td>{{eight}}</td>
        <th>Семья: {{two.length + five.length + eight.length}}</th>
      </tr>
      <tr>
        <td>{{three}}</td>
        <td>{{six}}</td>
        <td>{{nine}}</td>
        <th>Привычки: {{three.length + six.length + nine.length}}</th>
      </tr>
      <tr>
        <td><strong>Быт: {{four.length + five.length + six.length}}</strong></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="myclass">
    <p>Число судьбы <strong>{{oneNumber}}</strong></p>
  </div>
  <div class="myclass">
    <p>Второе число <strong>{{secondNumber}}</strong></p>
  </div>
  <div class="myclass">
    <p>Третье число <strong>{{thirdNumber}}</strong></p>
  </div>
  <div class="myclass">
    <p>Четвертое число <strong>{{fourthNumber}}</strong></p>
  </div>
</div>
