.myclass {
  text-align: center
}

.input-group-prepend{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.table{
  width: 500px;
  hight: 500px;
  margin-left: auto;
  margin-right: auto;
}

