.myclass {
  text-align: center;
}

.myclass2{
  padding: 10px;
}
.lenghtinput{
  width: 200px;
  margin-left:475px;
  align-content: center;

}
small{
  color: red;
}

.table{
  width: 500px;
  hight: 500px;
  margin-left: auto;
  margin-right: auto;
  text-decoration-color: #ffffff;
}

TH {
  width: 150px;
  text-align: left; /* Выравнивание по левому краю */
  background: black; /* Цвет фона */
  color: white; /* Цвет текста */
}

TD {
  text-align: center; /* Выравнивание по центру */
  color: #ffffff;
}

span{
  width: 70px;
}
input{
  width: 65px;
  &.ng-invalid.ng-touched{
    border: 1px solid red;
  }
  &.ng-valid{
    border: 1px solid green;
  }
}

  p {
    text-align: center;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
  }


